/* base.html */

.home_link{
    font-size: 1.5rem;
}
.header_nav{
    color: white;
}
.header_nav:hover{
    animation: changeColor 0.5s forwards;
}
@keyframes changeColor  {
    0%{
        color: white;
    }
    100%{
        color: aqua;
    }
}
/* base.html_end */



/* top.html */

.top_post{
    border: solid;
}
.col-7{
    /* background-color: aqua; */
}
.col-5{
    /* background-color: red; */
}    
.top_post_table{
    border: 1px solid black;
    /* border-radius: 10px; */
    overflow: hidden;
    width: 90%;
    margin: 2rem;
    /* font-size: small; */
}
.top_post_th{}
.top_post_td{}
/* top.html_end*/



/* detail.html */
.detail_link{
    color: black;
}
.detail_link:hover{
    animation: change 0.5s forwards;
}
@keyframes change  {
    0%{
        color: black;
    }
    100%{
        color: aqua;
    }
}
/* detail.html_end */



/* posts_top.html */
.post_all{
    padding: 0 25px;
}
.new_post_navbar{
    height: 2rem;
}
.new_post_navbar li{
    line-height: 0;
}
.new_post_link{
    font-size: 0.8rem;
}

.left_col{
    padding-top: 0.4rem;
    padding-left: 1rem;
    border-right: solid;
    
}
.group_name{font-size: 0.8rem;
}
.posts{
    padding:  0.3rem 0 0 0 ;
    font-weight: bold;
}
.groups{
    padding-bottom: 1.2rem;
}
/* posts_top.html_end */