/* base.html */
body{
    background-color: rgba(218, 226, 226, 0.979);
}
.home_link{
    font-size: 1.5rem;
}
.header_nav{
    color: white;
}
.header_nav:hover{
    animation: changeColor 0.5s forwards;
}
@keyframes changeColor  {
    0%{
        color: white;
    }
    100%{
        color: aqua;
    }
}
.bg_color{
    background-color: #fff;
}
/* base.html_end */



/* top.html */
.top_row{
    margin:1rem 0;
}
.col-7{
    height: 37.5rem;
    border-radius: 20px;
    margin: 0 1rem;
    overflow: scroll;
}

.top_post_table{
    margin: 2rem;
}
.top_schedule{
    width: 24rem;
    height: 15rem;
}
.today {
    background: orange !important;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: red;
}
th:nth-of-type(6), td:nth-of-type(6) {
    color: blue;
}
.event{
    font-size: 0.4rem;
}
.calendar{
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.message{
    height: 15rem;
    overflow: scroll;
    margin-top: 1rem;
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
/* top.html_end*/



/* detail.html */
.detail_link{
    color: black;
}
.detail_link:hover{
    animation: change 0.5s forwards;
}
@keyframes change  {
    0%{
        color: black;
    }
    100%{
        color: aqua;
    }
}
/* detail.html_end */



/* posts_top.html */
.post_all{
    padding: 0 25px;
}
.new_post_navbar{
    height: 2rem;
}
.new_post_navbar li{
    line-height: 0;
}
.new_post_link{
    font-size: 0.8rem;
}

.left_col{
    padding-top: 0.4rem;
    padding-left: 1rem;
    border-right: solid;
    
}
.group_name{font-size: 0.8rem;
}
.posts{
    padding:  0.3rem 0 0 0 ;
    font-weight: bold;
}
.groups{
    padding-bottom: 1.2rem;
}
/* posts_top.html_end */