/* sc_base.html */
body{
    background-color: rgba(218, 226, 226, 0.979);
}
.home_link{
    font-size: 1.5rem;
}
.header_nav{
    color: white;
}
.header_nav:hover{
    animation: changeColor 0.5s forwards;
}
@keyframes changeColor  {
    0%{
        color: white;
    }
    100%{
        color: aqua;
    }
}
.bg_color{
    background-color: #fff;
}
/* base.html_end */

/* schedule_top.html */
a {
    text-decoration: none;
}
.today {
    background: orange !important;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: red;
}
th:nth-of-type(6), td:nth-of-type(6) {
    color: blue;
}
.event{
    font-size: small;
}
.new_schedule_navbar{
    height: 2rem;
}
.new_schedule_navbar li{
    line-height: 0;
}
.new_schedule_link{
    font-size: 0.8rem;
}
/* schedule_top.html_end */

/* schedule_detail.html*/
.detail_title{
    height: 50px;
    width: 70px;
}
.detail_title_text_{
    height: 150px;
    width: 70px;
}
.detail_text{
    height: 150px;
    width: 1100px;
}
.detail_text_{
    height: 150px;
    width: 200px;
}


/* schedule_detail.html_end*/