{% extends "sc_base.html" %}

{% block head %}

{% endblock head %}

{% block body %}
{% load static %}

<div class="container bg_color">
    <h2>{{ html_title }}</h2>
    <th><a href="?ym={{ prev }}">前月</a></th>
                <th colspan="5"></th>
                <th><a href="?ym={{ next }}">次月</a></th>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
                <th>日</th>
                <td>
                    {% for week in weeks %}
                    {{ week|safe }}
                    {% endfor %}
                    
                    {% for event in event %}
                    
                    {% endfor %}
                        
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% comment %} <div id='calendar'class="bg_color"></div> {% endcomment %}
{% comment %} <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script> {% endcomment %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'schedule/js/app.js' %}"></script>

{% endblock body %}

