{% extends "base.html" %}


{% block head %}
   {% load humanize %}
{% endblock %}


{% block body %}

<div class="container-fluid post_all">
    <div class="row">
        <div class="col-2 left_col">
            <h6 class="groups">所属職員一覧</h6>
        </div>
        <div class="col-10 light_col">
            <p class="posts">所属内投稿一覧</p>
            <table class="table">
                <tr>
                    <th>タイトル</th>
                    <th>投稿者</th>
                    <th>投稿日時</th>
                    <th></th>
                </tr>
                {% for post in posts %}
                <tr>
                    <td><a href="{% url 'post_detail' post.id %}" class="nav-link detail_link">{{post.title}}</a></td>
                    <td>{{post.created_by}}</td>
                    {% if post.created_at|date:"Ymd" == today%}
                    <td>{{post.created_at|time:"H:i"}}</td>
                    {% else %}
                    <td>{{post.created_at|date:"Y年m月d日"}}</td>
                    {% endif %}
                </tr>
            {% endfor %}    
            </table>
        </div>
    </div>
</div>
{% endblock body %}


