{% extends 'base.html' %}



{% block body %}

{% if request.user == post.created_by %}
<nav class="navbar bg-black new_post_navbar">
    <div class="container-fluid">
    <ul class="nav">
        <li class="nav-item">
            <a href="{% url 'post_edit' post.id %}" class="nav-link new_post_link">投稿を編集するテスト</a>
        </li>
    </ul>
    </div>
</nav>
{% endif %}

<div class="container bg_color">
    <br>
    <h3 class="nav">{{post.title}}</h3>
    <br>
    <table class="">
        <tr>
            <td>投稿者</td>
            <td>: {{post.created_by}}</td>
        </tr>
        <tr>
            <td>投稿日時</td>
            <td>: {{post.created_at}}</td>
        </tr>
    </table><br>
    <table class="table">
        <tr>
             <textarea readonly name="textarea" cols="120" rows="15" style="resize:none">{{post.text}}</textarea>
        </tr>
        {% if  post.file %}
        <tr>
            <td>添付ファイル：<a href="{{ post.file.url }}" target="_blank">{{post.file}}</a></td>
        </tr>
        {% else %}
        <tr>
            <td>添付ファイル：なし</td>
        </tr>
        {% endif %}
    </table>
   
</div> 
{% endblock  %}

