{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row top_row">
        <div class="col-7 bg_color">
            <table class="table top_post_table">
                <tr class="top_post_th">
                    <th>タイトル</th>
                    <th>投稿者</th>
                    <th>投稿日時</th>
                    <th></th>
                </tr>
                
                {% for post in posts %}   
                <tr class="top_post_td">
                    <td><a href="{% url 'post_detail' post.id %}" class="nav-link detail_link">{{post.title}}</a></td>
                    <td>{{post.created_by}}</td>
                    {% if post.created_at|date:"Ymd" == now|date:"Ymd"%}
                    <td>{{post.created_at|time:"H:i"}}</td>
                    {% else %}
                    <td>{{post.created_at|date:"Y年m月d日"}}</td>
                    {% endif %}
                    <td></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4 d-flex flex-column">
            <div class="bg_color calendar">
                <h6>{{ html_title }}</h6>
                <th><a href="?ym={{ prev }}">前月</a></th>
                <th colspan="5"></th>
                <th><a href="?ym={{ next }}">次月</a></th>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>月</th>
                            <th>火</th>
                            <th>水</th>
                            <th>木</th>
                            <th>金</th>
                            <th>土</th>
                            <th>日</th>
                            <td>
                                {% for week in weeks %}
                                {{ week|safe }}
                                {% endfor %}
                                
                                {% for event in event %}
                                
                                {% endfor %}
                                    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bg-yellow">
                メッセージ
            </div>
        </div>
    </div>
</div>
{% endblock %}
    
